.info-container .fa {
    color: green;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
.info-container .fa-trash {
    color: red;
}

#main {
    width: 50%;
    margin: 50px auto;
}

#container {
    width: 100%;
    height: 100%;
    border: 1px solid;
    margin-bottom: 20px;
    text-align: center;
}

#icon-add {
    text-align: right;
    display: block;
    margin: 0 45px 20px 0;
    font-size: 20px;
    height: 40px;
    float: right;
    cursor: pointer;
    font-size: 32px;
}

.info-container {
    display: inline-block;
    margin: 20px;
    width: 25%;
    border: 1px solid;
    background: #f6f6f6;
}

#menu {
    position: absolute;
}

#menu div {
    background: #1b1c1d;
    padding: 10px;
    border-radius: 5px;
    min-width: 80px;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    padding: 7px;
    cursor: pointer;
    color: rgba(255,255,255,.9);
}

#menu ul li:hover {
    color: black;
    background: #f2f2f2;
}

.add-city {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    text-align: center;
    padding-top: 18%;
    margin-left: -26%;
}

.add-city.visible {
    display: block;
}

#form-title, .footer {
    height: 50px;
    line-height: 50px;
    background: black;
    color: #f2f2f2;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 20px;
    font-weight: 400;
    margin: 0;
}

#form-title a {
    text-decoration: none;
    float: right;
    font-size: 40px;
    margin-top: 5px;
    cursor: pointer;
    color: white;
}

.modal {
    padding-top: 0;
    border: 1px solid;
    width: 460px;
    margin: 0 auto;
    background: #f2f2f2;
}

#add-new {
    padding: 30px;
    text-align: left;
}

.modal input {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}

.modal label {
    display: inline-block;
    width: 80px;
    font-size: 18px;
    font-weight: 600;
}
.modal #save {
    width: 130px;
    height: 35px;
    color: #f2f2f2;
    background: #16ab39;
    border-radius: 0;
    cursor: pointer;
}

.city-name {
    text-transform: uppercase;
    font-weight: 600;
}