<div ui-view></div>

<div id="container" ng-controller="CoursesListCtrl">
	<div class="info-container" ng-repeat="course in courses">
		<p class = "city-name">{{course.city}}</p>
        <p>Groups - {{course.groups}}</p>
        <p>Teachers - {{course.teachers}}</p>

        <i ui-sref="courses.edit({courseId: course.id})" class="fa fa-pencil-square-o" aria-hidden="true"></i>

        <i ng-click="deleteCourse(course.id)"class="fa fa-trash" aria-hidden="true"></i>
	</div>
</div>

<a ui-sref="courses.add">
	<i class="fa fa-plus-square" aria-hidden="true" id="icon-add"></i>
</a>
