<div class="add-city">

    <div class="modal">
        <h2 id = "form-title">Create city
            <a ui-sref="courses">
                <i class="fa fa-times" id = "close-modal"></i>
            </a>
        </h2>

        <div id="add-new">
            <label>Name:</label>
            <input type = "text" ng-model = "data.city" name = "city" placeholder = "Enter the name of the city..." ><br>

            <label>Groups:</label>
            <input type = "text" ng-model = "data.groups" name = "groups" placeholder = "Enter the groups..." ><br>
            
            <label>Teachers:</label>
            <input type = "text" ng-model = "data.teachers" name = "teachers" placeholder = "Enter the teachers..."><br>
        </div>

        <div class = "footer">
            <input ui-sref = "courses" type="button" id="save" value="Save" ng-click = "closeAddModal()">
        </div>

    </div>
</div>